{% for commentaire in peinture.commentaires %}
<div class="mb-3 pb-3 border-bottom">
    <strong>{{ commentaire.personne.prenom }} {{ commentaire.personne.nom }}</strong>
    <small class="text-muted ms-2">{{ commentaire.date|date('d/m/Y H:i') }}</small>
    <p>{{ commentaire.contenu }}</p>
</div>
{% endfor %}